#loading_div {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    /* opacity: 0.7; */
    background-color: #fff;
    z-index: 99;
  }
  
  /* #loading-image {
    position: absolute;
    top: 100px;
    left: 25%;
    z-index: 100;
  } */