/* TEXT ANIMATION */
.ml1 {
    font-weight: 200;
    font-size: 2.5em;
}

  .ml1 .letter {
    display: inline-block;
    line-height: 1em;
}

.ml1 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}

.ml1 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #000000;
    transform-origin: 0 0;
}

.ml1 .line1 { top: 0; }
.ml1 .line2 { bottom: 0; }

  /* END TEXT ANIMATION */
  .pulse {
    /* background: black; */
    /* border-radius: 50%; */
    /* margin: 10px;
    height: 20px;
    width: 20px; */
  
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
  }
  .pulse1 {
    /* background: black; */
    /* border-radius: 50%; */
    /* margin: 10px;
    height: 20px;
    width: 20px; */
  
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    transform: scale(1);
    animation: pulse 1s infinite;
  }
  
  @keyframes pulse {
    from {
      /* opacity: 1; */
      transform: scale(0.5);
    }
    to {
      /* opacity: 0; */
      transform: scale(1);
    }
  }

  /* @keyframes pulse {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
  
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
  
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    } */
  }