<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <title>Paolo Maico Career</title>

    <!-- CSRF Token -->
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <!-- Fonts -->
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link rel="shorcut icon" type="image/x-icon" href="/default/images/logo_icon.ico" />

     <!-- Font Awesome icons (free version)-->
     <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
     <!-- Simple line icons-->
     <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css" rel="stylesheet" />
     <!-- Google fonts-->
     <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />

    <!-- Styles -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="css/styles.css" rel="stylesheet" />
    <link href="css/text-animation.css" rel="stylesheet" />
    <link href="css/card.css" rel="stylesheet" />
    <link href="css/fonts.css" rel="stylesheet" />
    <link href="css/loader.css" rel="stylesheet" />
    <style type="text/css"> 
        .container, .row.justify-content-center.align-items-center {
          height: 100%;
          min-height: 100%;
        }           
        body {
            max-width: 100%;
            overflow-x: hidden;     
            height: 100%;
            margin: 0; 
          /* overflow: hidden;  DISABLE SCROLL TO REMOVE BUG ON TYPE TEXT ANIMATION */
          /* font: normal 75% Arial, Helvetica, sans-serif; */
        }
        #particles-js {
          position: fixed;
          z-index: -1;
          /* position: absolute; */
          width: 100%;
          height: 100%;
          /* background-color: #fafafa;  */
          /* background-color: #383838;  */
          background-image: url("");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: 50% 50%;
        }
    </style>
</head>
<body id="page-top" class="">
  
<div id="particles-js"></div>
<div class="container-fluid">  
    <div class="row" id="loading_div">
      <div class="col-12 text-center">
        <div id="loading_div2" class="bg-">
          <img id="loading-image" style="height: 200px; margin-top: 50%;" src="assets/img/logo.png" class="pulse1 mt-5 bg-" alt="Loading..." />
           <br>
           <h5>Loading</h5>
        </div>
      </div>
    </div>
     
    <div class="row" id="content">
      <div class="col-12">
        <!-- Navigation-->
        <a class="menu-toggle rounded" href="#"><i class="fas fa-bars"></i></a>
        <nav id="sidebar-wrapper" class="bg-black">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="#page-top">What is it?</a></li>
                <li class="sidebar-nav-item"><a href="#page-top">Home</a></li>
                <li class="sidebar-nav-item"><a href="#div_portfolio">Tech Stack</a></li>
                <li class="sidebar-nav-item"><a href="#div_projects">Projects</a></li>
            </ul>
        </nav>
        
        <!-- About-->
        <section class="content-section bg-transparent" id="about">
            <div class="container px-4 px-lg-5 text-center">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-10">
                        <!-- Header-->
                        <header class="d-flex align-items-center">
                        <div class="container px-4 px-lg-5 text-center">                
                            <div class="text-center ">
                                <img src="assets/img/logo.png" class="img-fluid rounded-circle mb-2 bg- social-link  zoom pulse" alt="Profile Picture" style="width: 100px; height: 100px;">
                                <img src="default/images/logo.jpg" alt="" width="150">
                                <h2 class="ml1">
                                    <img src="">
                                    <span class="text-wrapper">
                                    <span class="line line1"></span>
                                    <span class="letters text-default">
                                        <h2> 
                                        Hi, I'm <b class="text-danger"> Paolo! </b> 

                                        </h2>
                                    </span>
                                    <span class="line line2"></span>
                                    </span>
                                </h2> 
                                <p class=" text-center text-contrail " >
                                    <strong><span 
                                    style="color: #175216;"
                                        class="type-me txt-rotate"
                                        ></span></strong>
                                </p>
                            </div>   
                        </div>
                        </header>
                        <h2>
                            I'm a full-stack web and mobile developer
                        </h2>
                        <p class="lead mb-5">
                            Let's build something wonderful!
                        </p>
                        <a class="btn btn-dark btn zoom" href="http://m.me/paolowoi">Contact Me</a>
            
                        <br> or check my <a href="https://docs.google.com/document/d/1Vn2E4bWWYc5IMaMm5imyQIaW1EVycpRa/edit?usp=sharing&ouid=112290042339280836178&rtpof=true&sd=true" target="_blank">
                          resume here</a> 
                        <br> or simply send an email @ <a href="mailto:paolomaico.career@gmail.com">paolomaico.career@gmail.com</a> 
                    </div>
                </div>
            </div>
        </section>
        <!-- Tech Stacks-->
        <div id="div_portfolio" class="text-center mb-5">
            <h1 class="">Tech Stack </h1> 
            <div class="row justify-content-center ">
                <!-- 1st -->
                <!-- <div class="col-md-3 col-6">
                    <section class="mx-auto my-5" style="max-width: 23rem; max-height:23rem;">
                        <div class="card">
                        <div class="card-body d-flex flex-row">
                            <img src="assets/img/logo.png" class="rounded-circle me-3" height="50px"
                              width="50px" alt="avatar" />
                            <div>
                            <h5 class="card-title font-weight-bold mb-2">Javascript</h5>
                            <p class="card-text"><i class="far fa-clock pe-2"></i>2017</p>
                            </div>
                        </div>
                        <div class="bg-image hover-overlay ripple rounded-0 text-center zoom">
                            <img class="img-fluid" src="assets/img/skills/javascript.png" style="width: 150px; height: 150px;"
                            alt="javascript skill"/>
                            <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            
                        </div>
                        </div>
                    </section>
                </div>    -->
                <div class="col-md-4 col-12" >      
                    <img src="assets/img/skills/coding.png" class="text-danger my-3 zoom pulse " style="width: 100px;" alt="avatar" />
                    <div class="row justify-content-center" id="frontend">
                    </div>
                </div>
                <div class="col-md-4 col-12">            
                    <img src="assets/img/skills/framework.png" class="text-danger my-3 zoom pulse " style="width: 100px;" alt="avatar" />
                    <div class="row justify-content-center" id="backend">
        
                    </div>
                </div>
                <div class="col-md-4 col-12">            
                    <img src="assets/img/skills/backend.png" class="text-danger my-3 zoom pulse " style="width: 100px;" alt="avatar" />
                    <div class="row justify-content-center" id="tools">
        
                    </div>
                </div>
        
        
                
        
        
            </div>
        </div>
        
        <script>
            const skill_array = [
                ["frontend","Android","assets/img/skills/android.png","2017"],
                ["frontend","PHP","assets/img/skills/php.png","2017"],
                ["frontend","Javascript","assets/img/skills/javascript.png","2017"],
                ["frontend","HTML","assets/img/skills/html5.png","2017"],
                ["frontend","CSS","assets/img/skills/css3.png","2017"],
                ["frontend","C#","assets/img/skills/csharp.png","2015"],
                ["frontend","JAVA","assets/img/skills/java.png","2014"],
        
                ["backend","Laravel","assets/img/skills/laravel.png","2022"],
                ["backend","React Js","assets/img/skills/react.png","2022"],
                ["backend","Vue Js","assets/img/skills/vue.png","2022"],
                ["backend","Bootstrap ","assets/img/skills/bootstrap.png","2018"],
        
                ["tools","CRM","assets/img/skills/zohocrm.png","2020"],
                ["tools","Payment Solutions","assets/img/skills/pinpayment.png","2022"],
                ["tools","Kissflow","assets/img/skills/kissflow.png","2022"],
                ["tools","Outsystem","assets/img/skills/outsystem.png","2022"],
                ["tools","Git","assets/img/skills/git.png","2018"],
            ];
            
            for (let index = 0; index < skill_array.length; index++) {
                let type = skill_array[index][0];
                let title = skill_array[index][1];
                let image = skill_array[index][2];
                let year = skill_array[index][3];
                let target_div = document.getElementById("frontend")
                if(type=="frontend"){
                    target_div = document.getElementById("frontend")
                } 
                if(type=="backend"){
                    target_div = document.getElementById("backend")
                } 
                if(type=="tools"){
                    target_div = document.getElementById("tools")
                } 
                
                
                target_div.innerHTML += `
                <div class="col-10">
                    <section class="mx- my-1">
                        <div class="card">
                            <div class="card-body bg-dark text-white py-1" >  
                                <div class="row">
                                    <div class="col-3">
                                        <img src="assets/img/logo.png" class="align-self-start rounded-circle me-3" height="50px"
                                        width="50px" alt="avatar" />
                                    </div>                  
                                    <div class="col-9 text-start bg-">
                                        <h5 class="card-title font-weight-bold my-0 ">${title}</h5>                                
                                        <small class="">
                                            <i class="far fa-clock "></i>
                                        </small>
                                        ${year}     
                                    </div>
                                </div>   
                            </div>
                            <div class="bg-image hover-overlay ripple rounded-0 text-center zoom py-2">
                                <img class="img-fluid" src="${image}" style="width: 70px; height: 70px; min-height: 70px"
                                alt="${title}"/>
                                <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </a>
                            </div>
                        </div>
                    </section>
                </div>       
                `
            }
        
            
        </script>
        
        <div id="div_projects" class="mb-5">
          <!-- Portfolio-->
          <div class="text-center">
            <h1>Recent Projects</h1>
            <a target="_blank" href="https://docs.google.com/presentation/d/1rvi4wlc5LUD11SZ965t-mH47c8UQ1sRb58lcixj1PCA/edit?usp=sharing">Click here for the complete list of projects</a>
            <div class="row justify-content-center" id="projects">        
                <!-- <div class="col-10">
                    <div  class="row justify-content-center" >
                            
                    </div>
                </div> -->
            </div>
        </div>
        
        <div class="mt-5 text-center">
          <h1>
           <a href="https://docs.google.com/presentation/d/1rvi4wlc5LUD11SZ965t-mH47c8UQ1sRb58lcixj1PCA/edit?usp=sharing">  >> Google Slide Presentation and other projects << </a>
          </h1>            
        </div>
        <script>
          projects();
          function projects(){

              const target_div = document.getElementById("projects")
              const target_array = [
                  ["DEPOSIT ASSURE","assets/img/projects/depositassure.png","2022","https://devthecrm.depositassure.com.au/"],
                  ["MCO88","assets/img/projects/mco88.jpg","2022","https://mco88.com","https://mco88.com/login"],
                  ["HIMMAX","assets/img/projects/himmax.png","2022", "https://dev.himmax.com"],
              ];
              for (let index = 0; index < target_array.length; index++) {
                  let title = target_array[index][0];
                  let image = target_array[index][1];
                  let year = target_array[index][2];
                  let first_link = target_array[index][3];
                  let second_link = target_array[index][4];
                  
                  target_div.innerHTML += `
                  <div class="col-md-4 col-12"  >  
                      <div class="row justify-content-center" >
                          <div class="col-10" >
                              <section class="mx- my-1">
                                  <div class="card">
                                      <div class="card-body d-flex flex-row bg-dark text-white py-1">                        
                                          <img src="${image}" class="bg-white rounded-circle me-3" height="50px"
                                          width="50px" alt="avatar" />
                                          <div class="text-left">
                                              <h5 class="card-title font-weight-bold ">${title}</h5>
                                              <small class="">
                                                  <i class="far fa-clock "></i>
                                              </small>
                                              ${year}
                                          </div>
                                      </div>
                                      <div class="bg-image hover-overlay ripple rounded-0 text-center zoom py-2">
                                          <img class="img-fluid" src="${image}" style="width: 150px; height: 150px;"
                                          alt="${title}"/>
                                          <a href="#!">
                                          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                          </a>
                                      </div>                                
                                      <div class="text-success">
                                          <a href="${first_link}" target="_blank">Visit Sample Website</a>
                                      </div>
                                  </div>
                              </section>
                          </div>                        
                      </div> 
                      
                  </div>       
                  `
              }
          }              
        </script>
        
        
        
        </div>
        <!-- Map-->
        <!-- <div class="mb-5">
          <h1> Find Me Here! </h1>
          <div class="map" id="contact">
            
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3860.028311617238!2d120.97560901436016!3d14.654334379687459!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397b548c461ecd7%3A0xdeb7806b253f4195!2sCyPao%20Foodtrips!5e0!3m2!1sen!2sph!4v1645241999870!5m2!1sen!2sph" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              <br />
              <small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a></small>
          </div>
        </div> -->
        <!-- Footer-->
        <footer class="footer text-center">
            <div class="container px-4 px-lg-5">
                <ul class="list-inline mb-5">
                    <li class="list-inline-item">
                        <a class="social-link rounded-circle text-white mr-3" href="https://www.facebook.com/paolowoi"><i class="icon-social-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="social-link rounded-circle text-white mr-3" href="https://www.facebook.com/paolowoi"><i class="icon-social-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="social-link rounded-circle text-white" href="https://www.facebook.com/paolowoi"><i class="icon-social-github"></i></a>
                    </li>
                </ul>
                <p class="text-muted small mb-0">Copyright &copy; PM Career 2022</p>
            </div>
        </footer>
        
      </div>
    </div> 
    <!-- end of row -->
</div>
<!-- /.login-box -->


   <!-- Scroll to Top Button-->
   <a class="scroll-to-top rounded" href="#page-top"><i class="fas fa-angle-up"></i></a>
   <!-- Bootstrap core JS-->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
   <!-- Core theme JS-->
   <script src="js/scripts.js"></script>


<!-- TITLE TEXT ANIMATION  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script>
    // Wrap every letter in a span
    var textWrapper = document.querySelector('.ml1 .letters');
    textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<h2 class='letter'>$&</h2>");

    anime.timeline({loop: false})
      .add({
        targets: '.ml1 .letter',
        scale: [0.3,1],
        opacity: [0,1],
        translateZ: 0,
        easing: "easeOutExpo",
        duration: 600,
        delay: (el, i) => 70 * (i+1)
      }).add({
        targets: '.ml1 .line',
        scaleX: [0,1],
        opacity: [0.5,1],
        easing: "easeOutExpo",
        duration: 700,
        offset: '-=875',
        delay: (el, i, l) => 80 * (l - i)
      })
      ;
</script>
<!-- TYPING TEXT -->
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
<script>
  var typed = new Typed('.type-me', {
    strings: [ 
              "PASSION",
              "PROGRAMMING",
              "WEB DEVELOPMENT",
              "ANDROID DEVELOPMENT",
              "AGILE"
              ],
    typeSpeed: 50,
    backSpeed: 100,
    loop: true,
    loopCount: Infinity,
  });
</script>

<!-- particle  -->
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="https://threejs.org/examples/js/libs/stats.min.js"></script>
<script>
  // $(function() {
    //This is required for THE BUIG
    // setTimeout(function(){ 
    particlesJS("particles-js", {
    "particles": {
      "number": {
        "value": 80,
        "density": {
          "enable": true,
          "value_area": 800
        }
      },
      "color": {
        "value": "#428bca" //428bca //ffffff
      },
      "shape": {
        "type": "circle",
        "stroke": {
          "width": 0,
          "color": "#5bc0de" //000000 //5bc0de
        },
        "polygon": {
          "nb_sides": 5
        },
        "image": {
          "src": "img/github.svg",
          "width": 100,
          "height": 100
        }
      },
      "opacity": {
        "value": 0.5,
        "random": false,
        "anim": {
          "enable": false,
          "speed": 1,
          "opacity_min": 0.1,
          "sync": false
        }
      },
      "size": {
        "value": 3,
        "random": true,
        "anim": {
          "enable": false,
          "speed": 40,
          "size_min": 0.1,
          "sync": false
        }
      },
      "line_linked": {
        "enable": true,
        "distance": 150,
        "color": "#5bc0de",
        "opacity": 0.4,
        "width": 1
      },
      "move": {
        "enable": true,
        "speed": 6,
        "direction": "none",
        "random": false,
        "straight": false,
        "out_mode": "out",
        "bounce": false,
        "attract": {
          "enable": false,
          "rotateX": 600,
          "rotateY": 1200
        }
      }
    },
    "interactivity": {
      "detect_on": "canvas",
      "events": {
        "onhover": {
          "enable": true,
          "mode": "repulse"
        },
        "onclick": {
          "enable": true,
          "mode": "push"
        },
        "resize": true
      },
      "modes": {
        "grab": {
          "distance": 400,
          "line_linked": {
            "opacity": 1
          }
        },
        "bubble": {
          "distance": 400,
          "size": 40,
          "duration": 2,
          "opacity": 8,
          "speed": 3
        },
        "repulse": {
          "distance": 200,
          "duration": 0.4
        },
        "push": {
          "particles_nb": 4
        },
        "remove": {
          "particles_nb": 2
        }
      }
    },
    "retina_detect": true
  });


      
    // }, 200);
            //end of settimeout
  // });
</script>

<script>
  function isLooading(isloading = false) {
    var x = document.getElementById("loading_div");
    var content = document.getElementById("content");
    if(isloading==true){
      x.style.display = "block";
      content.style.display = "none";
    }else{
      x.style.display = "none";
      content.style.display = "block";
    }
  }
  console.log("Loading")
  isLooading(true)
  window.addEventListener("load", function() {
    console.log("Loaded")
    setTimeout(function(){
      isLooading(false)
    },1000);
    
  }, false); 
</script>

</body>
</html>